In [1]:
import pandas as pd

In [2]:
db=pd.read_csv('Traffic - Copy.csv')

In [3]:
df=pd.DataFrame(db)

In [9]:


# Assuming df is your DataFrame and 'Time' is your time column
df['Time'] = pd.to_datetime(df['Time'])

# Filter out rows where the minutes part is not zero
df = df[df['Time'].dt.minute == 0]

C:\Users\parij\AppData\Local\Temp\ipykernel_18024\1848486930.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'])

In [10]:
df.head()

,Time,Node,CarCount,BikeCount,BusCount,TruckCount,TrafficSituation
0,2024-02-04 00:00:00,10,31,0,4,4,low
4,2024-02-04 01:00:00,10,57,6,15,16,normal
8,2024-02-04 02:00:00,10,51,0,9,7,low
12,2024-02-04 03:00:00,10,50,0,3,0,low
16,2024-02-04 04:00:00,10,111,28,20,3,normal

In [11]:
#import pandas as pd

# Assuming df is your DataFrame and 'Time' is your time column
df['Time'] = pd.to_datetime(df['Time'])

# Filter out rows where the minutes part is not zero
df = df[df['Time'].dt.minute == 0]

# Convert 'Time' back to string and remove the date part
df['Time'] = df['Time'].dt.time.astype(str)

In [12]:
df.head()

        Time  Node  CarCount  BikeCount  BusCount  TruckCount TrafficSituation
0   00:00:00    10        31          0         4           4              low
4   01:00:00    10        57          6        15          16           normal
8   02:00:00    10        51          0         9           7              low
12  03:00:00    10        50          0         3           0              low
16  04:00:00    10       111         28        20           3           normal

In [13]:
df.head

<bound method NDFrame.head of           Time  Node  CarCount  BikeCount  BusCount  TruckCount  \
0     00:00:00    10        31          0         4           4
4     01:00:00    10        57          6        15          16
8     02:00:00    10        51          0         9           7
12    03:00:00    10        50          0         3           0
16    04:00:00    10       111         28        20           3
...        ...   ...       ...        ...       ...         ...
2956  19:00:00     9       109         23        14          26
2960  20:00:00     9        72         25        10          27
2964  21:00:00     9       107         13        14          28
2968  22:00:00     9        17          4         1          20
2972  23:00:00     9        11          0         1          30

     TrafficSituation
0                 low
4              normal
8                 low
12                low
16             normal
...               ...
2956            heavy
2960             high
2964             high
2968           normal
2972           normal

[744 rows x 7 columns]>

In [14]:
df.to_csv('TrafficCopy21.csv', index=False)